.form {
    display: flex;
    justify-content: start;
    margin: .5rem 0;
}

.inputCalc {
    margin-right: 1rem;
}

.inputCalc span {
    color: var(--primaryColor);
    font-size: 1rem;
}

.inputCalc small {
    color: var(--primaryColor);
}

.input {
    display: block;
    width: 130px;
    padding: .5rem;
    border: 1px solid var(--primaryColor);
    border-radius: .8rem;
    outline: none;
}

.button {
    width: 120px;
    padding: .7rem .5rem;
    margin-top: .5rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--secondaryColor);
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    transition: filter .5s;
    cursor: pointer;
} .button:hover {
    filter: brightness(1.2);
}

.table {
    max-width: 600px;
    width: 100%;
    margin: 1rem auto 1.5rem auto;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

.tableHead {
    padding: .9rem 1.2rem;
    text-align: center;
    background-color: var(--primaryColor);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: .7rem;
}


.tableTitle td {
    color: var(--primaryColor);
    font-size: .9rem;
} .tableTitle small {
    color: var(--primaryColor);
}

.tableRow tr {
    font-size: .75rem;
    border-bottom: 1px solid #ccc;
}

.tableRow td {
    padding: .3rem .2rem;
    border-bottom: 1px solid #ccc;
}

tbody td:nth-child(3) {
    text-align: center;
}

.normalImc {
    background-color: rgb(184, 233, 148,.7);
    transition: background-color .7s;
}

.warningImc {
    background-color: rgb(255, 211, 42,.5);
    transition: background-color .7s;
}

.dangerImc {
    background-color: rgb(255, 63, 52,.5);
    transition: background-color .7s;
}

.resultImc {
    background-color: var(--secondaryColor);
    padding: 1rem;
    border-radius: 1rem;
    max-width: 180px;
    width: 100%;
}

.resultImc p, span {
    color: #fff;
    font-size: 1.5rem;
}

.resultImc span {
    font-weight: bold;
    transition: all 1s ease;
}

.adviceForm small {
    color: var(--primaryColor);
}