footer {
    padding: 1rem;
    margin-top: 5rem;
    text-align: center;
}

footer p {
    font-size: .8rem;
}

footer a {
    text-decoration: none;
    color: var(--primaryColor);
}

.links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.linksItem {
    margin-right: 1rem;
    cursor: pointer;
    opacity: .7;
    transition: all .5s;
} .linksItem:hover {
    opacity: 1;
}

.linksItem img {
    width: 35px;
    height: 35px;
}